@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background-color: #cccccc;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

/*----------------------------------Heading */

.navalert-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(65, 0, 0, 0.25);
    border: 0;
    position: static;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*-----------------------------------------------Carousel*/
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ----------------------------------------------Menu */

.menu {
    padding-left: 76px;
}

.menu-b {
    margin: 5px 5px 5px 5px;
}

/* ----------------------------------------------Map */
.map-container {
	overflow: hidden;
	position: relative;
	height: 0;
}

.map-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.contact-row {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 4%;
    padding-right: 4%;
}
/* ----------------------------------------------Footer */
