@import url('https://fonts.googleapis.com/css?family=Roboto:500,600');

html {
  scroll-behavior: smooth;
}

body {
    background-color: #6c757d1f;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

/* Heading */

.navalert-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(5, 5, 5, 0.89);
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(65, 0, 0, 0.25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: 600;
}

.navbar .navbar-nav a {
    font-weight: 600;
}

.carousel-indicators li {
    background-color: #dc3545;
}

/*Carousel*/


/*Menu */

.menu {
    width: auto;
}

.menu-b {
    margin: 5px 5px 5px 5px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/*Map */
.map-container {
	overflow: hidden;
	position: relative;
	height: 0;
}

.map-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.contact-row {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 4%;
    padding-right: 4%;
}
/* Footer */

a {
   
}

.spacer {
    display:block;
    width: 100%;
    border-top: 1px solid #dc3545;
    padding: 5px 0 15px 0;
}

.coffee-b {
    padding-bottom: 20px;
}